* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

:root {
  font-size: 62.5%;
  font-family: sans-serif;
}

h2 {
  font-size: 3rem;
}

p {
  font-size: 2rem;
  margin-bottom: .9rem;
}


.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 2rem;
}

.back {
  display: flex;
  justify-content: flex-end;
  margin-top: -8rem;
  margin-right: 5rem;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.fancy-button {
  background-color: #3498db;
  color: #fff;
  padding: 15px 30px;
  border-radius: 5px;
  font-size: 18px;
  border: none;
  cursor: pointer;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s ease;
}




.fancy-button:hover {
  background-color: #2980b9;
}

.rot {
  background-color: #d81313;
  &:hover {
    background-color: #e95656;
  }
}

.blau {
  background-color: #097599;
  &:hover {
    background-color: #22b7e9;
  }
}

